body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:yellow;

}
.header_div{
    background:magenta;
    color:rgb(0, 255, 187);

}
.header_div p{
    font-family:sans-serif;
    color:mediumorchid;
    letter-spacing:2px;
    font-size:12px;
    font-weight:bold;
}
.main_div button{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top:30px;
    width:130px;
    font-weight:bolder;
    letter-spacing:3px;

}
.copy_write_footer{
    position:fixed;
    color:floralwhite;
    bottom:0;
    width:100%;
    font-size:20px;
    background-color:gray;
    line-height:3;
    text-align:center;
    text-shadow:5px 5px 5px rgb(0, 255, 187);

}